@import 'styles/_variables.scss';

.container {
	background-color: $cinza;
	margin-top: 5px;
	padding-top: 2rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;

	.loading {
		text-align: center;
		h3 {
			font-size: 3rem;
		}
		h5 {
			font-size: 1.5rem;
		}
	}
}
